    body{
      background-color:  #306682; /*blue*/
    }
    header{
      text-align: center;
    }
    #topNavigation, #topNavigation a{
      text-align: center;
      text-decoration: none;
      padding: 10px;
    }
    #topNavigation a:hover, #current{
      font-size:1.75em;
      transition: .9s;
    }
    #sideNavigation a{
      position: fixed;
      text-decoration: none;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
    }
    #sideNavigation a:hover{
        font-size: 1.9em;
        background-color: #e8eaec; /*grey*/
        transition: .9s;
        color: black;
    }
    h3{
      color:  #e93031; /*red*/
    }
    a, a:visited{
      color: white;
    }
    p{
      color: #e8eaec; /*grey*/
    }
    hr{
      border-color: #e93031; /*red*/
    }
    main{
      padding-left:300px;
      padding-right: 300px;
      text-align: left;
    }
    footer{
      text-align: center;
    }
      h1,h2,h3,a,p{
      font-family: 'Inconsolata',monospace;
    }